img(src="../assets/images/logo.svg", class="logo")
img(src="../assets/images/toxin.svg", class="toxin")  

.footer_block
  .sign Lorem ipsumdolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliuqam curabitor cociis.
  .nav_block
    h3 Navigation
    a(href="#") About Us
    a(href="#") News
    a(href="#") Support
    a(href="#") Products
  .about_block
    h3 About Us
    a(href="#") Who We Are
    a(href="#") Our Team
    a(href="#") Careers
    a(href="#") Investors
  .support_block
    h3 Support
    a(href="#") Documentation
    a(href="#") Community
    a(href="#") Get in Touch
  .receive_block
    h3 Subscribe to our newsletter
    p Receive our latest news and promotions in you inbox!
    form.email_form
      input(type="text", name="email", placeholder="You email address", id="email_box")
      img(src="../assets/images/arrow_forward.svg", id="arrow")  
  hr
  .copyright_block Copyright 2018 Toxin Ui Kit. All rights reserved
  img(src="../assets/images/twitter.svg", id="twitter") 
  img(src="../assets/images/fb.svg", id="fb")
  img(src="../assets/images/insta.svg", id="insta")
    
  
