link(rel="stylesheet", href="unlogin.css")
.unlogin_block 
  img(src="../assets/images/logo.svg", class="logo")
  img(src="../assets/images/toxin.svg", class="toxin")  
  ul.top_menu
    li 
      a(href="#", class="active") Home
    li
      a(href="#") About Us
    li.sub
      a(href="#") Services
      img(src="../assets/images/expand.svg", class="angle")
      ul.sub_menu
    li
      a(href="#") Careers
    li
      a(href="#") News
    li
      a(href="#") Documentation
      
  form
    button.log_btn login

  form
    button.reg_btn register
