@import "../styles/reset.scss";
@import "../styles/montserrat.css";
@import "../styles/variables.scss";
@import "nav_bar.scss";

%button {
  height: 34px;
  margin-top: 18px;
  border-radius: 22px;
  border: 1px solid #BC9CFF;
  text-transform: uppercase;
  font-family: $fontM;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}
.log_btn {
  @extend %button;
  margin-right: 20px;
  width: 79px;
  background-color: #FFF;
  color: #BC9CFF;
}
.reg_btn {
  @extend %button;
  margin-right: 140px;
  width: 101px;
  background-color: #BC9CFF;
  color: #FFF;
}
