@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.svg");
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.svg") format("svg");
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}
