@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Regular.svg");
  src: url("../assets/fonts/Quicksand-Regular.ttf");
  src: url("../assets/fonts/Quicksand-Regular.woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Bold.svg") format("svg");
  src: url("../assets/fonts/Quicksand-Bold.ttf") format("truetype");
  src: url("../assets/fonts/Quicksand-Bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}
