
doctype html
html
  head
    title Colors & Type
    link(rel="stylesheet", href="style.css")
  body
    .main_container
      .colors_visual
        .block.dark_100
        .block.dark_75
        .block.dark_50
        .block.dark_25
        .block.dark_5
        .block.purple
        .block.green
      .colors_describe
        .describe_container
          p Dark Shade 100%
          span.color_index #1F2041      
        .describe_container
          p Dark Shade 75% 
          span.color_index #F2041
        .describe_container
          p Dark Shade 50%
          span.color_index #F2041
        .describe_container
          p Dark Shade 25%
          span.color_index #F2041
        .describe_container
          p Dark Shade 5%
          span.color_index #F2041
        .describe_container
          p Purple
          span.color_index #BC9CFF
        .describe_container 
          p Green
          span.color_index #6FCF97
      .tegs_name
        p.H1 H1
        p.H2 H2
        p.H3 H3
        p.BODY Body
      .fonts_example
        p.H1_text This one is the sub-section or widget title
        p.H2_text Next one is the item title inside widgets
        p.H3_text This is a label or cta text
        p.BODY_text This is the body text which is used for most of the design, like paragraphs, lists, ect.
      
    
