
doctype html
html
  head
    title Colors & Type
    style(src="style.css")
  body
    .colors_visual
      .block.dark_100
      .block.dark_75
      .block.dark_50
      .block.dark_25
      .block.dark_5
      .block.purple
      .block.green
    .colors_describe
      p Dark Shade 100% #[br] #1F2041      
      p Dark Shade 75% #[br] #F2041
      p Dark Shade 50% #[br] #F2041
      p Dark Shade 25% #[br] #F2041
      p Dark Shade 5% #[br] #F2041
      p Purple #[br] #BC9CFF
      p Green #[br] #6FCF97
      script(src="index.js")
    .tegs_name
      p.H1 H1
      p.H2 H2
      p.H3 H3
      p.BODY Body
    .fonts_example
      p.H1 The one is the sub-section or widget title
      p.H2 Next one is the item title inside widgets
      p.H3 This is a label or cta text
      p.BODY This is body text which is used for most of the design, like paragraphs, lists, ect.
      
    
